
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      font-weight: bold;
    }

    .menu, .icons {
      display: flex;
      gap: 20px;
    }

    .icons {
      display: flex;
      justify-content: space-between;
      width: 600px;
    }

    .icon-link {
      display: flex;
      width: 200px;
      gap: 20px;
    }

    .menu a, .icons a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
    }

    .main {
      display: flex;
      min-height: 80vh;
    }

    .left {
      flex: 1;
      padding: 60px 40px;
    }

    .discount {
      color: #444;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .heading {
      font-size: 38px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 15px;
    }

    .heading img.inline-img {
      width: 100px;
      border-radius: 10px;
      vertical-align: middle;
      margin-top: 10px;
    }

    .leaf-img {
       width: 50px;
      border-radius: 10px;
      vertical-align: middle;
      margin-top: 10px;
    }

    .desc {
      color: #555;
      font-size: 15px;
      margin-bottom: 20px;
    }

    .btn {
      background-color: #2f7230;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 30px;
    }

    .stats {
      display: flex;
      gap: 40px;
    }

    .stats div {
      font-size: 22px;
      font-weight: bold;
    }

    .stats span {
      display: block;
      font-size: 14px;
      color: #666;
      font-weight: normal;
    }

    .right {
      flex: 1;
      background: #2e5435;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }

    .right img {
      width: 100%;
      height: 100%;
      padding-left: 2rem;
    }

    @media (max-width: 768px) {
      .main {
        flex-direction: column;
      }
      .heading {
        font-size: 28px;
      }
      .right img {
        width: 90%;
      }
    }